<h1>Seja bem vindo</h1>
<p>
  Guirra Santos
</p>

<p> A soma eh: <%= 1 + 1 %></p>
<p> Seu nome ao contrario eh: <%= "Guirra".reverse %></p>
<% ax = "minha variavel a" %>
<p>Imprimindo a variavel a: <%= ax %></p>
<p>A data de hoje eh: <%= Date.today %></p>
